<!-- <div class="row">

    <div class="col">
        <h1>*ngIf</h1>
        <hr>

        <div *ngIf="mostrar" class="card text-white bg-info mb-3" style="width: 100%;">

                <div class="card-body">
                  <h5 class="card-title">    {{frase.autor}}  </h5>
                  <p class="card-text"> {{frase.mensaje}} </p>
                </div>
              </div>
              <button (click)="mostrar =!mostrar" class="btn btn-outline-primary btn-block">
                  Mostrar/Ocultar
              </button>
    </div>

    <div class="col">
        <h1>*ngfor</h1>
        <hr>
        <ul class="list-group">
                <li class="list-group-item" *ngFor="let per of personajes; let i = index">
                        {{i+1}} - {{per}}
                </li>
              </ul>
    </div>
</div>

 -->

 <div>
  <div class="card-columns m-5 animated fadeIn">
    <div  *ngFor="let item of posts; let i = index" class="card puntero">
      <img [src]="item.imagen" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ item.titulo }}</h5>
        <p class="card-text">
          <span class= "badge badge-pill badge-primary">{{ item.descripcion}} </span>
          <a [routerLink]="['/vista', i]" class="btn btn-outline-primary">Ver mas...</a>
        </p>
      </div>
    </div>
  </div>
</div>
